name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    env:
      REGION: 'us-east-1'
      WEBSITE_NAME: 'my-website'
      BUCKET_NAME: 'my-site-test'
      REPO_OWNER: 'ryands17'
      REPO_NAME: 'react-apollo-linkstate'

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Use Node 12
        uses: actions/setup-node@v2
        with:
          node-version: 12.x

      - name: Use cached node_modules
        uses: actions/cache@v4
        with:
          path: node_modules
          key: nodeModules-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            nodeModules-

      - name: Install dependencies
        run: yarn install --frozen-lockfile
        env:
          CI: true

      - name: Run Tests
        run: yarn test --ci --coverage --maxWorkers=2
        env:
          CI: true
